$bgcolor: lighten(rgb(0, 110, 220), 30%);

.react-calendar {
  width: 100%;
  max-width: 100%;
  height: 100%;
  background: #efeff4;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.125em;

  &,
  & *,
  & *::before,
  & *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  button {
    border: 0;
    outline: none;
  }

  &__month-name {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 40px;
  }

  &__month-view {

    &__days {
      background-color: #fff;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
    }

    &__weekdays {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: .75em;

      &__weekday {
        padding: .5em;
      }
    }

    &__days {
      &__day {
        &--weekend {
          color: tomato;
        }

        &--neighboringMonth {
          color: rgb(150, 150, 150);
        }
      }
    }
  }

  &__year-view,
  &__decade-view,
  &__century-view {
    .react-calendar__tile {
      padding: 2em .5em;
    }
  }

  &__tile {
    display: flex;
    justify-content: center;
    align-items: center;

    button &[disabled] {
      color: blue;
    }

    &--hasActive {
      background: $bgcolor;
    }

    &--active {
      $bgcolor: rgb(0, 110, 220);
      background: $bgcolor;
      color: white;
    }

    &--start {
      border-top-left-radius: 100%;
      border-bottom-left-radius: 100%;
    }

    &--end {
      border-top-right-radius: 100%;
      border-bottom-right-radius: 100%;
    }

    &--papayawhip {
      border-radius: 100%;
    }
  }

  &__weeks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f7f7f7;
    border-bottom: 1px solid #ddd;
    height: 26px;

    span {
      flex: 1;
      font-size: 12px;
      width: 100%;
      text-align: center;
    }
  }
}

.day-disabled {
  color: #eaeaea;
}
