.react-calendar {
  width: 100%;
  max-width: 100%;
  height: 100%;
  background: #efeff4;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.125em; }
  .react-calendar,
  .react-calendar *,
  .react-calendar *::before,
  .react-calendar *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .react-calendar button {
    border: 0;
    outline: none; }
  .react-calendar__month-name {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 40px; }
  .react-calendar__month-view__days {
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd; }
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .75em; }
    .react-calendar__month-view__weekdays__weekday {
      padding: .5em; }
  .react-calendar__month-view__days__day--weekend {
    color: tomato; }
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #969696; }
  .react-calendar__year-view .react-calendar__tile, .react-calendar__decade-view .react-calendar__tile, .react-calendar__century-view .react-calendar__tile {
    padding: 2em .5em; }
  .react-calendar__tile {
    display: flex;
    justify-content: center;
    align-items: center; }
    button .react-calendar__tile[disabled] {
      color: blue; }
    .react-calendar__tile--hasActive {
      background: #76bbff; }
    .react-calendar__tile--active {
      background: #006edc;
      color: white; }
    .react-calendar__tile--start {
      border-top-left-radius: 100%;
      border-bottom-left-radius: 100%; }
    .react-calendar__tile--end {
      border-top-right-radius: 100%;
      border-bottom-right-radius: 100%; }
    .react-calendar__tile--papayawhip {
      border-radius: 100%; }
  .react-calendar__weeks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f7f7f7;
    border-bottom: 1px solid #ddd;
    height: 26px; }
    .react-calendar__weeks span {
      flex: 1;
      font-size: 12px;
      width: 100%;
      text-align: center; }

.day-disabled {
  color: #eaeaea; }
